parameters:
  level: 9
  paths:
    - src
    - config-command.php
  scanDirectories:
    - vendor/fp-cli/fp-cli/php
  scanFiles:
    - vendor/php-stubs/finpress-stubs/finpress-stubs.php
  treatPhpDocTypesAsCertain: false
  dynamicConstantNames:
  	- FP_DEBUG
  	- FP_DEBUG_LOG
  	- FP_DEBUG_DISPLAY
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.parameter
    - identifier: missingType.return
